.title {
    color: black;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-left: 15px;
}

a {
    text-decoration: none;

}

img {
    margin-top: 40px;
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
}



#order h2, img {
    margin-left: 40px;
}

#pp {
    position: absolute;
    margin-left: 513px;
    margin-top: -37px;
    border: 2px solid black;
    border-radius: 1000000px;
    background-color: white;
    width: 30px;
    height: 30px;
}

#warenkorb {
    background-color: #fff6f5;
    margin-top: 50px;
    padding: 25px;
    padding-left: 10px;
    margin-bottom: 50px;
}

.size{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    max-width: 35%;
    min-width: 100px;
    margin-bottom: 50px;
}

#description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#summe {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    
}

.button{
    margin-top: 25px;
    
    margin-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: #fff6f5;
    margin-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    position: relative;
}

.flex {
    display: flex;
    width: 100%;
    gap: 25px;
    width: auto;
    max-width: 550px;
}

.flex label {
    display: flex;
    width: 100%;
    gap: 25px;
    width: auto;
    max-width: 550px;
}

.form label {
    position: relative;
    max-width: 530px;
    width: 100%;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: none;
    border-radius: 10px;
    max-width: 550px;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    
}

.form label .input:valid+span {
    color: green;
}

.radio{
    display: flex;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
    border: 2px solid lightgrey;
    padding: 15px;
    transition: all 0.5s ease;
}
#land{
    border: none;
    border-radius: 10px;
    max-width:550px;
    min-height: 50px;
    color: grey;
    padding-left: 10px;
    font-size: 16px;
    
}

.element {
    display: flex;
    padding-left: 10px;
    align-items: center;
    padding-bottom: 50px;
}

.inner-element {
    display: table-column;
    padding: 20px;
    align-items: center;
}

.line {
    width: 40%;
    border-bottom: black solid 2px;
    margin-left: 50px;
    margin-bottom: 50px;

}