/*General*/
html, body {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/*Head-Section*/
h1{
    color:rgb(249, 249, 249);
    padding: 10px;
    padding-left: 30px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgb(37, 18, 13) 1%, rgb(214, 56, 28));
    height: 165px;
    padding: 0 40px;
}
#hero-text{
    max-width:380px;
}

ul {
    list-style: none;  
    padding: 0;
    margin: 0;

  }

li {
    display: inline;    
    margin-right: 15px; 

  }

a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

button {
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-weight: bolder;
    transition: transform 0.1s ease;
    cursor:pointer;
}


header button:active {
    background-color: white;
    transform: scale(0.9);
}

/*Footer*/

footer{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgb(214, 56, 28), rgb(37, 18, 13));
    height: 165px;
}