/*Produkt-Sektion*/

#product{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 60px auto;
    padding: 40px;
    flex-wrap: wrap;
    background-color: #fff9f5;
}


#product img{
    max-width: 500px;
    width: 100%;
    height:auto;
    border-radius: 12px;
    object-fit: cover;
}
.settings{
    display: flex;
    flex-direction: row;
    gap: 40px;
}



.price{
    font-weight: bold;
    color:black;
    margin: 0;
}

.mwst{
    color:#6a6a6a;
    margin-bottom: 20px;
}

label{
    font-weight: 500;
    margin-top: 10px;
}

input[type="number"]{
    width:40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top:6px;
    text-align: center;
}

.button {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #E63946;
}

/*Kundenbilder*/

#customer-img{
    background-color: #fff9f5;
    margin: 80px auto;
    
}


#customer-img h2{
    margin-bottom: 50px;
    padding-top:20px;
    margin-left: 50px;
}

#whole-img-review{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content:center;
}



.size{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/*Rezensionsbereich*/

#review{
   background-color: #fff9f5;
    
}

#review h2{
    padding-top:20px;
    margin-left: 50px;
}

#reviewcontainer{
    display: flex;
    flex-direction: row;
    gap:30px;
    
    border-radius: 10px;
    margin-left: 50px;
    min-height: 200px;
}

#review-img{
    max-width: 300px;
    width: 100%;
    height:auto;
    border-radius: 12px;
}

/*Andere Produkte*/

#relatedproducts{
    background-color: #fff9f5;
}


#relatedproducts h2{
    padding-top: 20px;
    margin-left: 50px;
}

#gallery{
    margin: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#gallery img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#relatedproducts a{
    text-decoration: none;
    color: black;
}