/*Produkt-Sektion*/

#product{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin: 50px auto;
    padding: 40px;
    flex-wrap: wrap;
    background-color: #fff9f5;
}


#product img{
    max-width: 500px;
    width: 100%;
    height:auto;
    border-radius: 12px;
    object-fit: cover;
}
#artikelForm{
    display: flex;
    flex-direction: row;
    gap: 40px;
}



.price{
    font-weight: bold;
    color:black;
    margin: 0;
}

.mwst{
    color:#6a6a6a;
    margin-bottom: 20px;
}

label{
    font-weight: 500;
    margin-top: 10px;
}

input[type="number"]{
    width:40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top:6px;
    text-align: center;
}

button {
    border-radius: 10px;
    width: 150px;
    min-height: 55px;
    font-weight: bolder;
    transition: background-color 0.5s ease ,transform 0.3s ease;
    cursor:pointer;
    margin-top: 20px;
}



/*Kundenbilder*/

#customer-img{
    background-color: #fff9f5;
    margin: 80px auto;
    
}


#customer-img h2{
    margin-bottom: 50px;
    padding-top:20px;
    margin-left: 50px;
}

#whole-img-review{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content:center;
}



.size{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/*Rezensionsbereich*/

#review{
   background-color: #fff9f5;
    
}

#review h2{
    padding-top:20px;
    margin-left: 50px;
}

#reviewcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    
    margin-left: 50px;
    min-height: 200px;
}
.name{
    border-bottom: 1px solid black;
}
.stars{
    color: rgb(214, 56, 28);
    font-size: 28px;
}
.customer-review{
    border:1px solid rgb(199, 197, 197);
    border-radius: 10px;
    padding: 10px;
    max-width: 300px;
}
/*Erstelle Rezension*/

#create-review{
    margin-top: 20px;
    background-color: #fff9f5;
}
#contact-form{
   margin-bottom: 50px;
}


.form{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap:25px;
    max-width: 700px;
}

#credentials{
    display: flex;
    gap: 25px;
}

.field{
    display: flex;
    flex-direction: column;
    width:100%;
}

label{
    margin-bottom: 5px;
    color:#222;
}

input, textarea{
    padding: 10px 12px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    background-color: #fafafa;
    transition: all 0.5s ease;
}

input:focus,textarea:focus{
    border-color: #222;
    background-color: rgb(231, 228, 228);
    outline: none;
}

textarea{
    resize: none;
}

/*Andere Produkte*/

#relatedproducts{
    background-color: #fff9f5;
}


#relatedproducts h2{
    padding-top: 20px;
    margin-left: 50px;
}

#gallery{
    margin: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#gallery img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#relatedproducts a{
    text-decoration: none;
    color: black;
}