

main {
  padding: 60px 40px;
}

p {
  line-height: 1.5;
  padding: 1rem;
}

.about_content, .our_team {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;

}

.about_content p , .our_team p{
  flex: 2;
}

.about_content figure, .our_team figure{
  flex: 1;
}

.about_content img ,.our_team img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media (max-width: 768px) {
  .about_content , .our_team{
    flex-direction: column;
  }
  .about_content p {
    flex: 1 1 100%;
  }
}