/*Hero-Section*/

#section-hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:100px;
    padding: 60px 100px;
    margin-bottom:50px;
}

#hero-img {
  max-width: 600px;
  width: 100%;
  border-radius: 15px;
  padding: 0;
}

#section-hero, #section-features, #section-highlight , #section-review, #section-contact{
    background-color: #fff9f5;
}

.description{
    text-align: center;
}


#section-features{
    display:flex;
    align-items: flex-start;
    padding: 60px 80px;
    gap: 40px;
    margin-bottom: 80px;
    justify-content: space-evenly;
}

.feature{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width:300px;  
}

.icons{
    width:50px;
    height: 50px;   
}



#section-highlight{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    padding: 80px 100px;
    margin-bottom: 80px;
}


.highlight-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;    
}

.highlight-text a{
    max-width:250px;
    margin-left:0;
}

#highlight-img{
    max-width:500px;
    width:100%;
    border-radius: 10px;
}

/*Kundenrezensionsbereich*/


#section-review{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom:80px;
}

#schokobewertung{
    max-width: 400px;
    width:100%;
}

/*Kontaktbereich*/

#section-contact{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
    gap:30px;
    padding: 80px 100px;
    
}

#forbuttons{
    display:flex;
    gap: 40px;
}




#section-find{
    display: flex;
    gap: 50px;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #2b2b2b;
  border-radius: 12px;
  background-color: #fff;
  padding: 30px 50px;
}

#info p:first-child {
  background-color: #E63946;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#route-maps h2{
    margin-top:0;
}