html, body {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

#heroes{
    background-image: url('/pictures/BiscoffKuchen1.jpg');
    background-size:cover;
    background-position: center;
    color:white;
    height:700px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#heroes nav{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none;
    align-items: center;
    
}

#heroes a{
    text-decoration: none;
    color:white;
    font-size:20px;
}

.hero-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heroes button{
    width:150px;
    height:55px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    color:white;
    cursor: pointer;
    transition: background-color 0.5s ease; 
}

#heroes button:hover{
    background-color: #B91C1C;
    
}

#heroes h1{
    font-size: 100px;
}

#heroes p{
    font-size: 40px;
}

/*Bestsellerbereich*/

a{
    text-decoration: none;
    color:black;
}

h3, #bestseller h1{
    font-size: 60px;
}
.price{
    font-size:20px;
    
    font-weight: bold;
}
.wholebox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    margin-top: 40px;
    max-width: auto;
}

.einkauf img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.einkauf p{
    max-width:400px;
}

.einkauf img:hover{
    transform: scale(1.1);
}

#bestseller{
    margin-left: 50px;
    margin-right: 50px;
}

/*footer-Bereich*/

footer{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgb(214, 56, 28), rgb(37, 18, 13));
    height: 165px;
}

footer a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
