a {
    text-decoration: none;
    font-weight: 350;
}

img{
    margin-top:40px;
    max-height:200px;
}

p{
    font-weight: bolder;
}

#order h2, img{
    margin-left:40px;
}

.order-box{
    display: flex;
    background-color: #fff6f5;
    min-height: 300px;
    flex-direction: row;
    gap:20px;
}

.order-box1{
    display: flex;
    flex-direction: row;
    background-color: #fff6f5;
    min-height: 300px;
    flex-direction: row;
    gap:50px;
    padding: 40px;
    border-radius: 10px;
}

.cake{
    margin-top:30px;
}

.amount{
    max-width:25px;
}

.delete-btn{
    width: auto;
    height: auto;
}

#description{
    font-weight:normal; 
}

#whole-boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.check {
    display: flex;
    flex-direction: column;

}

#gesamtkosten {
    flex: 1;
    border-right: 2px solid #1f1f1f;
}

#summen{
    padding-left: 20px;
}

#summen h4{
    margin-bottom: 10px;
    font-size: 20px;
}

#summen li{
    font-weight: normal;
    margin-bottom: 8px;
    font-size:16px;
}

.mwst-hinweis{
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}

#zurkasse {
    display: flex;
    align-items: center;
    justify-content: center;  
    min-width: 200px;
    margin: 50px;
    margin-left: auto;
    background-color: red;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}