header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgb(32, 32, 32), rgb(255, 42, 42));
    height: 165px;
    padding: 0 40px;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
}

/*Ende Header*/

#order h2, img{
    margin-left:40px;
}
.order-box{
    display: flex;
    background-color: #fff6f5;
    min-height: 300px;
    flex-direction: row;
    gap:20px;
}

img{
    margin-top:40px;
    max-height:200px;
}

.cake{
    margin-top:30px;
}
.amount{
    max-width:25px;
}
p{
    font-weight: bolder;
}

#description{
    font-weight:normal; 
}

#whole-boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}