

#order h2, img{
    margin-left:40px;
}
.order-box{
    display: flex;
    background-color: #fff6f5;
    min-height: 300px;
    flex-direction: row;
    gap:20px;
}

img{
    margin-top:40px;
    max-height:200px;
}

.cake{
    margin-top:30px;
}
.amount{
    max-width:25px;
}
p{
    font-weight: bolder;
}

#description{
    font-weight:normal; 
}

#whole-boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

