body{
    
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    color:#222;
}

/*Produkt-Sektion*/

#product{
    display: flex;
    
    gap:60px;
    justify-content: center;
    margin: 60px auto;
    padding: 0 40px;
    
    background-color: #fff9f5;
}
#product img{
    max-width: 800px;
    width: 100%;
    height:auto;
    border-radius: 12px;
    object-fit: cover;
}
#product .info{
    display: flex;
    flex-direction: column;
    gap: 10px
}

#product h2{
    font-size: 28px;
    margin-bottom: 10px;
}

.price{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.mwst{
    color:#6a6a6a;
    font-size: 14px;
    margin-bottom: 20px;
}
label{
    font-weight: 500;
    margin-top: 10px;
}

input[type="number"]{
    width:60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top:6px;
    text-align: center;
}

.button {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #E63946;
}

/*Kundenbilder*/

#customer-img{
    background-color: #fff9f5;
    margin: 80px auto;
    padding: 0 40px;
}

#customer-img h3{
    font-size:24px;
    margin-bottom: 20px;
}
#whole-img-review{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.author{
    display: flex;
    flex-direction: column;

}
.size{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/*Rezensionsbereich*/
#review{
   
    
}

#review h3{
    font-size: 24px;
    margin-bottom: 20px;
}

#reviewcontainer{
    display: flex;
    flex-direction: row;
    gap:30px;
    background-color: #fff9f5;
    border-radius: 10px;
    padding:20px;
    min-height: 200px;
}
#review-img{
    max-width: 300px;
    width: 100%;
    height:auto;
    border-radius: 12px;
}